* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: monospace;
    font-size: 100%;
}

body {
    background-color: #F6F6C9;
    display: flex;
    width: auto;
    height: auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* ease | ease-in | ease-out | linear */
    transition: transform ease-in-out 0.3s;
}

img:hover {
    transform: scale(1.2);
}

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}

.container {
    background-color: #BAD1C2;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0px 0px 61px 7px #4FA095;
    padding: 50px 20px;
    border-radius: 20px;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header img {
    cursor: pointer;
    width: 150px;
    height: 150px;
}

form {
    margin-top: 30px;
    width: 80%;
    max-width: 300px;
    position: relative;
}

input {
    border: none;
    border-bottom: 2px solid #153462;
    font-size: 20px;
    width: 100%;
    outline: none;
    color: #153462;
    background-color: transparent;
}

input::placeholder {
    opacity: .5;
    color: #181818;
    font-family: monospace;
}

form ion-icon {
    position: absolute;
    right: 0;
    font-size: 20px;
    opacity: .5;
    color: #153462;
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    margin-top: 25px;
    grid-gap: 20px;
    border-radius: 20px;
}

.item {
    width: 100%;
    height: 25rem;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    transition: .3s ease box-shadow;
}

.item:hover {
    box-shadow: 0px 0px 20px 3px #4FA095;
}

.item:nth-last-child(1) {
    margin-bottom: 0;
}

.item h3 {
    width: 100%;
    padding: 20px;
    position: absolute;
    background-color: #BAD1C2;
    color: #153462;
    bottom: -70px;
    font-weight: 300;
    transition: .5s ease-in-out bottom;
}

.item:hover h3 {
    bottom: 0;
}

.load-more {
    display: inline-block;
    margin-top: 30px;
    padding: 20px 50px;
    background-color: #153462;
    text-decoration: none;
    font-size: large;
    color: #BAD1C2;
    font-weight: 500;
    cursor: pointer;
    border-radius: 20px;
}

.load-more:hover {
    color: #BAD1C2;
    background-color: #4FA095;
}

@media only screen and (min-width: 900px) {
    .container {
        max-width: 1160px;
        padding: 100px;
    }

    .header {
        flex-direction: row;
        justify-content: space-between;
    }

    .header h1 {
        font-size: 80px;
        font-family: monospace;
        color: #2c2f46;
    }

    .header input {
        font-size: 24px;
    }

    .header ion-icon {
        font-size: 24px;
    }
}

.photo-download_info {
    display: flex;
    position: absolute;
    bottom: -10;
    right: 0;
    width: 35px;
    height: 35px;
    margin: 1rem;
    transition: .5s ease-in-out bottom;
}

.item:hover img {
    bottom: 0;
}

/* Auto Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        background: #000;
        color: #E7F6F2;
    }

    .container {
        background-color: #A5C9CA;
        box-shadow: 0px 0px 61px 7px #395B64;
    }

    input {
        border-bottom: 2px solid #2C3333;
        color: #2c2f46;
    }

    input::placeholder {
        color: #395B64;
    }

    form ion-icon {
        color: #2C3333;
    }

    .item h3 {
        background-color: #A5C9CA;
        color: #2c2f46;
    }

    .load-more {
        background-color: #2c2f46;
        color: #E7F6F2;
    }

    .load-more:hover {
        color: #E7F6F2;
        background-color: #395B64;
    }
}